body {
    background-color: #f3f5f8;
}

article {
    margin: 150px 300px;
}

.flex {
    display: flex;
}

.avatar {
    border-radius: 50%;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.message-history {
    overflow: auto;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 300px;
}

.message-sender {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    background-color: #86bb71;
}
